<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko_KR</string>
	<key>CFBundleDisplayName</key>
	<string>문자행동</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb301484613596142</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao17b433ae9a9c34394a229a2b1bb94a58</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>FacebookAppID</key>
	<string>301484613596142</string>
	<key>FacebookDisplayName</key>
	<string>문자행동</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9684378399371172~5739040449</string>
	<key>GADUnitIdentifiers</key>
	<dict>
		<key>FullAd</key>
		<string>ca-app-pub-9684378399371172/1169240044</string>
	</dict>
	<key>GoogleADUnitID</key>
	<dict>
		<key>FullAd</key>
		<string>ca-app-pub-9684378399371172/1169240044</string>
		<key>RewardAd</key>
		<string>ca-app-pub-9684378399371172/1228145090</string>
		<key>TableBanner</key>
		<string>ca-app-pub-9684378399371172/7215773643</string>
	</dict>
	<key>Itunes App Id</key>
	<string>1243863489</string>
	<key>KAKAO_APP_KEY</key>
	<string>17b433ae9a9c34394a229a2b1bb94a58</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaotalk-5.9.7</string>
		<string>kakao17b433ae9a9c34394a229a2b1bb94a58</string>
		<string>kakaolink</string>
		<string>fb</string>
		<string>fbapi</string>
		<string>fb-message-api</string>
		<string>fbauth2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
