# For most projects, this workflow file will not need changing; you simply need
# to commit it to your repository.
#
# You may wish to alter this file to override the set of languages analyzed,
# or to provide custom queries or build logic.
#
# ******** NOTE ********
# We have attempted to detect the languages in your repository. Please check
# the `language` matrix defined below to confirm you have the correct set of
# supported CodeQL languages.
#
name: "Build & Test"

on:
  push:
    branches: [ "main" ]
    paths:
      - '**/*.swift'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**/*.swift'

jobs:
  analyze-actions:
    name: Analyze Actions
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write

      # required to fetch internal or private CodeQL packs
      packages: read

      # only required for workflows in private repositories
      actions: read
      contents: read

      id-token: write # OIDC

    strategy:
      fail-fast: false
      matrix:
        include:
        - language: swift
          build-mode: none
          
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: ${{ matrix.language }}
        build-mode: ${{ matrix.build-mode }}

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v4
      with:
        category: "/language:${{matrix.language}}"

  analyze-swift:
    name: Analyze Swift
    runs-on: macos-26
    permissions:
      # required for all workflows
      security-events: write

      # required to fetch internal or private CodeQL packs
      packages: read

      # only required for workflows in private repositories
      actions: read
      contents: read

      # required for Tuist OIDC authentication
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
        - language: swift
          build-mode: autobuild

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Select Xcode
      run: |
        sudo xcode-select -s /Applications/Xcode_26.1.1.app

    - name: Install Mise
      uses: jdx/mise-action@v2

    - name: Install Dependencies
      run: |
        tuist install

    - name: Log in Tuist
      run: |
        tuist auth login

    - name: Generate Xcode Project
      run: |
        tuist generate

    - name: Generate Xcode Project
      env:
        SCHEME: App
      run: |
        tuist xcodebuild build --cheme App CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
